<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BootCoinApp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BootCoinApp.styles.css" asp-append-version="true" />
</head>
<body class="m-0">
    <div class="row g-0">
        <div class="col-3 min-vh-100 left-section">
            <div class="h-100">
                <div style="height:87%;" class="pt-5 text-center">
                    @*<img alt="user_picture" />*@
                    <svg width="206" height="196" viewBox="0 0 246 236" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="123" cy="118" rx="123" ry="118" fill="#D9D9D9" />
                        <path d="M122.154 136.825C155.111 136.825 182.924 141.788 182.924 160.937C182.924 180.094 154.929 184.881 122.154 184.881C89.2049 184.881 61.3848 179.918 61.3848 160.769C61.3848 141.612 89.3797 136.825 122.154 136.825ZM122.154 44.0801C144.48 44.0801 162.369 60.6525 162.369 81.3293C162.369 102.006 144.48 118.586 122.154 118.586C99.836 118.586 81.9402 102.006 81.9402 81.3293C81.9402 60.6525 99.836 44.0801 122.154 44.0801Z" fill="white" />
                    </svg>
                    <p>Hello @User.Identity?.Name!</p>
                </div>
                <div style="height:10%; margin-top:auto;" class="text-center">
                    <a class="text-decoration-none text-white fs-3 align-middle" style="vertical-align:middle" asp-area="" asp-controller="Account" asp-action="Logout">Sign Out</a>
                    <svg width="42" height="45" viewBox="0 0 42 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M30.3333 33.125V26.5H14V17.6667H30.3333V11.0417L42 22.0833L30.3333 33.125ZM25.6667 0C26.9043 0 28.0913 0.465326 28.9665 1.29361C29.8417 2.1219 30.3333 3.24529 30.3333 4.41667V8.83333H25.6667V4.41667H4.66667V39.75H25.6667V35.3333H30.3333V39.75C30.3333 40.9214 29.8417 42.0448 28.9665 42.873C28.0913 43.7013 26.9043 44.1667 25.6667 44.1667H4.66667C3.42899 44.1667 2.242 43.7013 1.36683 42.873C0.491665 42.0448 0 40.9214 0 39.75V4.41667C0 3.24529 0.491665 2.1219 1.36683 1.29361C2.242 0.465326 3.42899 0 4.66667 0H25.6667Z" fill="white" />
                    </svg>

                </div>
            </div>
        </div>

        <div class="col-9 right-section">
            <main role="main" class="m-0">
                <div class="container-fluid px-5">
                    <header>
                        <nav class="navbar navbar-expand navbar-light mt-4 mb-5" style="font-size:24px; font-weight:400;">
                            <div class="container-fluid">
                                <div class="collapse navbar-collapse">
                                    <form class="w-25" asp-action="@(ViewData["SearchAction"])" method="get">
                                        <div class="input-group" style="border-radius: 15px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-transparent border-0 search-text-box-icon h-100" id="inputGroup-sizing-default">
                                                        <span class="material-icons" style="font-size: 30px;">search</span>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control border-0 search-text-box" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="search" placeholder="Search" value="@ViewData["SearchQuery"]">
                                        </div>
                                    </form>
                                    <ul class="navbar-nav ms-auto mb-lg-0">
                                        <li class="=nav-item me-5 d-flex align-items-center">
                                            <a class="nav-link" style="color:#414141;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                        </li>
                                        @if (User.IsInRole("admin"))
                                        {
                                            <li class="nav-item me-5 d-flex align-items-center">
                                                <a class="nav-link" style="color: #414141" asp-area="" asp-controller="Admin" asp-action="Input">Input</a>
                                            </li>
                                            <li class="nav-item me-5 d-flex align-items-center">
                                                <a class="nav-link" style="color: #414141" asp-area="" asp-controller="Admin" asp-action="History">History</a>
                                            </li>
                                            <li class="nav-item me-5 d-flex align-items-center">
                                                <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect width="80" height="80" rx="40" fill="#ECF2F6" />
                                                    <g filter="url(#filter0_d_0_1)">
                                                        <path d="M50 32H30L38 41.46V48L42 50V41.46L50 32Z" stroke="black" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                                                    </g>
                                                    <defs>
                                                        <filter id="filter0_d_0_1" x="24" y="29" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                                            <feOffset dy="4" />
                                                            <feGaussianBlur stdDeviation="2" />
                                                            <feComposite in2="hardAlpha" operator="out" />
                                                            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                                                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_0_1" />
                                                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_0_1" result="shape" />
                                                        </filter>
                                                    </defs>
                                                </svg>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="nav-item me-5 d-flex align-items-center">
                                                <a class="nav-link" style="color:#414141;" asp-area="" asp-controller="User" asp-action="Support">Support</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </header>
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
